<?xml version="1.0" ?>
 <arcane-config code-name="ArcanePython">
  <time-loops>
    <time-loop name="ArcanePythonLoop">
      <title>SimpleCall</title>
      <description>Default timeloop for code ArcanePython</description>

      <modules>
        <module name="SimpleCall" need="required" />
        <module name="SimpleCSCaller" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="SimpleCall.StartInit" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="SimpleCall.Compute" />
        <entry-point name="SimpleCSCaller.Main1" />
      </entry-points>
      <entry-points where="exit">
        <entry-point name="SimpleCSCaller.OnExit" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
