<?xml version="1.0" ?>
 <arcane-config code-name="csv">
  <time-loops>
    <time-loop name="csvLoop">
      <title>csv</title>
      <description>Default timeloop for code csv</description>

      <singleton-services>
        <service name="CsvOutput" need="required" />
      </singleton-services>

      <modules>
        <!-- <module name="TableExample1" need="required" /> -->
        <!-- <module name="TableExample2" need="required" /> -->
        <!-- <module name="TableExample3" need="required" /> -->
        <!-- <module name="TableExample4" need="required" /> -->
        <!-- <module name="TableExample5" need="required" /> -->
        <module name="TableExample6" need="required" />
      </modules>

      <entry-points where="init">
        <!-- <entry-point name="TableExample1.InitModule" /> -->
        <!-- <entry-point name="TableExample2.InitModule" /> -->
        <!-- <entry-point name="TableExample3.InitModule" /> -->
        <!-- <entry-point name="TableExample4.InitModule" /> -->
        <!-- <entry-point name="TableExample5.InitModule" /> -->
        <entry-point name="TableExample6.InitModule" />
      </entry-points>

      <entry-points where="compute-loop">
        <!-- <entry-point name="TableExample1.LoopModule" /> -->
        <!-- <entry-point name="TableExample2.LoopModule" /> -->
        <!-- <entry-point name="TableExample3.LoopModule" /> -->
        <!-- <entry-point name="TableExample4.LoopModule" /> -->
        <!-- <entry-point name="TableExample5.LoopModule" /> -->
        <entry-point name="TableExample6.LoopModule" />
      </entry-points>

      <entry-points where="exit">
        <!-- <entry-point name="TableExample1.EndModule" /> -->
        <!-- <entry-point name="TableExample2.EndModule" /> -->
        <!-- <entry-point name="TableExample3.EndModule" /> -->
        <!-- <entry-point name="TableExample4.EndModule" /> -->
        <!-- <entry-point name="TableExample5.EndModule" /> -->
        <entry-point name="TableExample6.EndModule" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
