<?xml version="1.0" ?>
<arcane-config code-name="HelloWorld">
  <time-loops>
    <time-loop name="HelloWorldLoop">
 
      <title>SayHello</title>
      <description>Default timeloop for code HelloWorld</description>
 
      <modules>
        <module name="SayHello" need="required" />
      </modules>
 
      <entry-points where="compute-loop">
        <entry-point name="SayHello.BeginCompute" />
        <entry-point name="SayHello.Compute" />
        <entry-point name="SayHello.EndCompute" />
      </entry-points>
 
    </time-loop>
  </time-loops>
</arcane-config>