<?xml version="1.0" ?>
<arcane-config code-name="ParallelMngArcane">
  <time-loops>
    <time-loop name="ParallelMngArcaneLoop">
 
      <title>Launcher</title>
      <description>Default timeloop for code ParallelMngArcane</description>
 
      <modules>
        <module name="Launcher" need="required" />
      </modules>
 
      <entry-points where="compute-loop">
        <entry-point name="Launcher.BeginCompute" />
        <entry-point name="Launcher.Compute" />
        <entry-point name="Launcher.EndCompute" />
      </entry-points>
 
    </time-loop>
  </time-loops>
</arcane-config>